extends layouts/default

block content
  .row
    .col-sm-12
      h1 Тренер
  .row
    .col-md-9
      h2 Александр Яценко
      h3 2 Дан Айкикай Айкидо
      p
        | Экзаменатор Хиронобу Ямада сэнсэй
        | Занимаюсь айкидо с 2006 года.
        | Родился в Москве, в 1985 году. Учился в обычной средней школе, после 9 класса поступил в полиграфический колледж, закончил его в 2003 году и поступил в институт, на экономический факультет.
        | Об Айкидо узнал случайно. Знакомая рассказала историю о старце, основателе айкидо, с легкостью побеждающем любого врага. Так я попал на пробное занятие и понял, что это и есть то, что я так давно пытался найти. С течением времени пришло понимание, что простые тренировки после работы переросли в нечто большее, что я готов дальше двигаться в этом направлении и посвятить айкидо свою жизнь. Я уволился из банка и с тех пор веду детские и взрослые группы.
    .col-md-3
      img(src='sensei.jpg', alt: 'тренер айкидо', class: 'img-responsive img-rounded')
  
  .row
    .col-md-10
      .row
        .col-md-12
          h1.japan-title Федерация
           a(href='http://байдер.рф/')
            img(src='baider-logo.png', alt: 'федерация айкидо', class: 'img-responsive')
            
          p
            | Наш клуб состоит в федерации под руководством
            | Байдера Дмитрия Александровича, обладателя 6 дана по Айкидо.
            
          h4 Что это значит?
          p 
            | Все ученики клуба имеют специальный будо-паспорт международного формата, где отмечается их прогресс в изучение айкидо, посещенные семинары.
            | Все аттестации на 1 дан и выше проходят под контролем технического директора школы - шихана
            | Хиронобу Ямада из Японии.
