extends layouts/default

block content
  .row
    .col-md-12
      h1 Тренировки айкидо
      p.
        Айкидо поможет вам обрести здоровье, уверенность в себе и силу. 
        Вы научитесь пониманию своего тела, его возможностей исходя из них, вы научитесь использовать именно ту технику, которая подойдёт именно вам. 
        Помимо физического развития мы занимаемся дыхательными практиками и медитацией. 
        Мы не стремимся победить внешнего врага, мы стремимся победить себя и достигнуть внутренней гармонии и здоровья. 
  
  .row
    .col-md-12
      h1 Зал для занятий
      p Мы занимаемся в современном оборудованным для занятий боевыми искусствами зале московского центра единоборств на Дмитровской
      a(href='http://lukomski-dojo.com/')
        img(src='lukomski.png', id: 'lukomski-logo', class: 'img-responsive', alt: 'Lukomski dojo на Дмитровской')
      p В зале есть все необходимо для занятий айкидо начиная от удобных закрывающихся на замок раздевалок, до специальных тренажеров.
  
  .row
    .col-md-12
      h1 Как проехать
      .row
        .col-md-6
          h3 Адрес
          h4 Адрес проведения тренировок айкидо для взрослых:
          span Москва
          span  м. Дмитровская, ул. Складочная, д. 3, с. 7
          p.
            Метро Дмитровская, первый вагон из центра. Выход из метро направо, потом налево. Перед Вами будет Дмитровское шоссе. 
            Нужно двигаться по нему в направление центра и свернуть налево на первом перекрестке. Идти вдоль хлебзавода, перейти через ж\д пути.
            Пройти в проходную (никаких документов предъявлять не нужно), пройти прямо вдоль офисного здания и завернуть направо в арку. 
            После выхода из арки, слева от нее будет расположен вход в зал.
        .col-md-6
          #adult-map-bl

      
