extends layouts/default

block content
  .row
    .col-md-12
      h1 Тренировки айкидо
      p.
        Айкидо поможет вам обрести здоровье, уверенность в себе и силу. 
        Вы научитесь пониманию своего тела, его возможностей исходя из них, вы научитесь использовать именно ту технику, которая подойдёт именно вам. 
        Помимо физического развития мы занимаемся дыхательными практиками и медитацией. 
        Мы не стремимся победить внешнего врага, мы стремимся победить себя и достигнуть внутренней гармонии и здоровья. 
  .row
    .col-md-12
      h1 Зал для занятий
      p Мы занимаемся в современном оборудованным для занятий боевыми искусствами зале московского центра единоборств на Дмитровской
      a(href='http://lukomski-dojo.com/')
        img(src='lukomski.png', id: 'lukomski-logo', class: 'img-responsive', alt: 'Lukomski dojo на Дмитровской')
      p В зале есть все необходимо для занятий айкидо начиная от удобных закрывающихся на замок раздевалок, до специальных тренажеров.

      
