extends layouts/default

block content
  .row
    .col-md-12
      h1 Тренировки айкидо для детей
      p.
        Айкидо для детей это в первую очередь научится понимать своё тело и управлять им. 
        Первое, что начинают учить дети это страховки – умение контролировать своё падение и избегать травмы. 
        Далее дети учатся двигаться. Выполнять экономичные передвижения, избегая лишних затрат сил. 
        После этого начинается изучение техник, сначала в режиме упражнений, со временем рассматривается и боевое применение. 
        Айкидо положительно влияет на память, собранность и внимательность, дети учатся дисциплине, уважению к старшим, понимание, когда и как можно пользоваться своими знаниями и силой.

  .row
    .col-md-12
      h1 У нас на занятиях дети получат навыки:
      ul
        li страховки (умение падать без последствий)
        li передвижения (двигаться раскрепощено и свободно)
        li держать осанку (поскольку все упражнения могут быть выполнены правильно только с прямой спиной) 
        li лучше понимать механику  человеческого тела
        li самообороны
        
  .row
    .col-md-12
      h1 Как проехать
      p.
        Занятия для детей проводятся недалеко от станции метро Ясенево, 
        по адресу Литовский бульвар д11, корпус2 
      a(href="http://atlantuzao.ru/classes/aikido.php") С/К Атлант 
