extends layouts/default

block content
  .text-bl
    .row
      .col-md-12
        h1 Тренировки айкидо для детей
        p Айкидо для детей это в первую очередь научится понимать своё тело и управлять им. 
        p Первое, что начинают учить дети это страховки – умение контролировать своё падение и избегать травмы. 
        p Далее дети учатся двигаться. Выполнять экономичные передвижения, избегая лишних затрат сил. 
        p После этого начинается изучение техник, сначала в режиме упражнений, со временем рассматривается и боевое применение. 
        p Айкидо положительно влияет на память, собранность и внимательность, дети учатся дисциплине, уважению к старшим, понимание, когда и как можно пользоваться своими знаниями и силой.
  .text-bl
    .row
      .col-md-12
        h1 У нас на занятиях дети получат навыки:
        ul
          li страховки (умение падать без последствий)
          li передвижения (двигаться раскрепощено и свободно)
          li держать осанку (поскольку все упражнения могут быть выполнены правильно только с прямой спиной) 
          li лучше понимать механику  человеческого тела
          li самообороны
  .text-bl    
    .row
      .col-md-6
        h1 Как проехать
        p Занятия для детей проводятся недалеко от станции метро Ясенево, 
        p по адресу Литовский бульвар дом 11, корпус 2 
          a(href="http://atlantuzao.ru/classes/aikido.php") С/К Атлант 
      .col-md-6
        #child-map-bl
        
  script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
  script(src="/scripts/child_map.js")
