extends layouts/default

block content
  .row
    .col-xs-12
      .pull-right
        .text-right
          h1.japan-title Додзе Александра Яценко
          h4
            Если Вы хотите научиться самообороне и боевым искусствам
            Если Вы хотите обрести спокойствие и хладнокровие
            Если Вы хотите поддерживать себя в форме
            Если Вы хотите познать себя
          h3
            Мы будем очень рады увидеть Вас
            у нас на тренировках
  .row 
      .col-xs-12
        a(href="tel:+79265382767", id: 'promo-button')
          .text-center
            h2 Звоните и записываетесь
            h1	+7(926)-538-27-67
            h3 Пробное занятие бесплатно
