doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Айкидо в Москве - клуб Александра Яценко

    meta(name='keywords' content='айкидо, айкидо айкикай, восточные единоборства, боевые искусства, айкидо в Москве, айкидо Дмитровская, айкидо Савеловская, айкидо Ясенево, айкидо школа, секция айкидо, айкидо для взрослых, айкидо для женщин, айкидо для детей, уроки айкидо, федерация айкидо')
    meta(name='description' content="Занятие айкидо айкикай для взрослых на Дмитровской и для детей в Ясенево")

    // OpenGraph meta
    meta(property="og:title" content='Айкидо в Москве - клуб Александра Яценко')
    meta(property="og:site_name" content='Клуб айкидо Александра Яценко')
    meta(property="og:description" content="Занятие айкидо айкикай для взрослых на Дмитровской и для детей в Ясенево")
    meta(property="og:locale" content="ru_RU")
    meta(property="og:image" content="http://aikido-yacenko.org/images/about/sensei.jpg")

    link(rel="icon" href="/images/favicon.ico")
    link(rel="apple-touch-icon" href="/images/apple-touch-icon.png")

    | <!--[if lt IE 9]>
    |   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    |   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    | <![endif]-->
  body
    .container-fluid
      header(role="navigation")
        nav.navbar.navbar-default.navbar-fixed-top
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#top-menu-el")
                span.sr-only Навигация
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="/")
                | Айкидо клуб
                span.hidden-xs.hidden-sm  Александра Яценко

            #top-menu-el.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href="/about.html") О клубе
                li
                  a(href="/child.html") Айкидо для детей
                li
                  a(href="/adult.html") Айкидо для взрослых

      article
        block content

      footer(itemscope itemtype="http://schema.org/Organization")
        .row
          .col-md-4
            .footer-bl
              .row
                .col-sm-12
                  h4 Контактная информация
                  span(itemprop="name") Айкидо клуб Александра Яценко
              .row
                .col-sm-12
                  span(itemprop="telephone")
                    a(href="tel:+79265382767") +7(926)-538-27-67
              .row
                .col-sm-12
                  span(itemprop="email")
                    a(href="mailto:katananotamashi@gmail.com") katananotamashi@gmail.com
                  .visible-xs.visible-sm
                    hr

          .col-md-4(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
            .footer-bl
              .row
                .col-sm-12
                  h4 Тренировки айкидо для взрослых
                  span(itemprop="addressLocality") Москва
              .row
                .col-sm-12
                  span(itemprop="streetAddress")
                    | м. Дмитровская,
                    | ул. Складочная, д. 3, с. 7
                  .visible-xs.visible-sm
                    hr

          .col-md-4(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
            .footer-bl
              .row
                .col-sm-12
                  h4 Тренировки айкидо для детей
                  span(itemprop="addressLocality") Москва
              .row
                .col-sm-12
                  span(itemprop="streetAddress")
                    | м. Ясенево,
                    | Литовский бульвар, д. 11, к.2


    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/main.js
    script(src='../bower_components/modernizr/modernizr.js')
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js')
    script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js')
    // script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js')
    script(src='scripts/main.js')
    script(src='scripts/yandex_metrika.js')
    // endbuild
