doctype html
html.no-js.bg-block(lang="ru")
  head
    meta(charset='utf-8')
    title Айкидо в Москве - Александр Яценко
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="keywords" content="айкидо, айкидо в Москве, метро Дмитровская, метро Савеловская, айкидо школа, секция айкидо, айкидо для взрослых, айкидо для женщин, айкидо для детей, уроки айкидо, федерация айкидо")
    meta(name="description" content="Занятия айкидо, метро Дмитровская, Москва")
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    
    .container-fluid
      header
        nav.navbar.navbar-default.navbar-fixed-top
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#top-menu-el")
                span.sr-only Навигация
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="/index.html") Айкидо клуб Александра Яценко

            #top-menu-el.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href="/about.html") О клубе
                li
                  a(href="/child.html") Айкидо для детей
                li
                  a(href="/adult.html") Айкидо для взрослых

      article
        block content

      footer(itemscope itemtype="http://schema.org/Organization")
        .row
          .col-md-4
            .footer-bl
              .row
                .col-sm-12
                  h4 Контактная информация
                  span(itemprop="name") Айкидо клуб Александра Яценко
              .row
                .col-sm-12
                  Телефон:
                  span(itemprop="telephone") 
                    a(href="tel:+79265382767") +7(926)-538-27-67
              .row
                .col-sm-12
                  Электронная почта:
                  span(itemprop="email") 
                    a(href="mailto:katananotamashi@gmail.com") katananotamashi@gmail.com
              //- .row
              //-   .col-sm-12
              //-     a(href="https://vk.com/byakasan")
              //-       img(src='vk.png', alt:'вконтакте', class:'img-rounded social-icon')
              //-       Александр Яценко
                
          .col-md-4(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
            .footer-bl
              .row
                .col-sm-12
                  h4 Тренировки айкидо для взрослых
                  span(itemprop="addressLocality") Москва
              .row
                .col-sm-12
                  span(itemprop="streetAddress")
                    м. Дмитровская,
                    ул. Складочная, д. 3, с. 7
                
          .col-md-4(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
            .footer-bl
              .row
                .col-sm-12
                  h4 Тренировки айкидо для детей
                  span(itemprop="addressLocality") Москва
              .row
                .col-sm-12
                  span(itemprop="streetAddress")
                    м. Ясенево,
                    Литовский бульвар, д. 11, к.2
      
    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/modernizr/modernizr.js')
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js')
    //- script(src='../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    script(src='scripts/yandex_metrika.js')   
    // endbuild
